<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J's App Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="menu-container">
        <h1>J's Menu of the Day</h1>
        <a href="{{ links.rag }}" class="btn" target="_blank" rel="noopener noreferrer">Multi-agent RAG: Data Sharing, Responsible AI, Model AI Governance</a>
        <a href="{{ links.chatbot }}" class="btn" target="_blank" rel="noopener noreferrer">Unfriendly, Unhelpful but Entertaining Chabot</a>
        <a href="{{ links.vit }}" class="btn" target="_blank" rel="noopener noreferrer">ViT for SEM Defect Detection for Metal Interconnects</a>
    </div>
</body>
</html>